{% extends 'base_generic.html' %}
{% block content %}

<head>
    {% load static %}
</head>
<script type="text/javascript">

const theButton = document.querySelector(".btn");

theButton.addEventListener("click", () => {
    theButton.classList.add("btn--loading");
});

</script>

<br><br>
<a class="btn btn-primary" href="{% url 'index' %}" style="color:#ffffff;"><i class="fas fa-upload"></i> Upload a Different File</a><br>

<br><br>
<h3 class="mb-0">{{ title }}</h3>
<br>

{% if qc_text %}
<div class="subheading mb-5">{{ qc_text }}</div>
<a class="btn btn-primary" href="{% url 'download_qc' %}" style="color:#ffffff;"><i class="fas fa-download"></i> QC Plot</a><br>
<img src="{% static 'images/qc_plot.png' %}", alt = 'QC Plot', height = '500', width = '1000'><br><br>
{% endif %}

{% if labels_text %}
<div class="subheading mb-5">{{ score_text }}</div>
<a class="btn btn-primary" href="{% url 'download_score' %}" style="color:#ffffff;"><i class="fas fa-download"></i> Score Plot</a><br>
<img src="{% static 'images/score_plot.png' %}", alt = 'Score Plot', height = '600', width = '600'><br><br>


<div class="subheading mb-5">{{ coef_text }}</div>
<a class="btn btn-primary" href="{% url 'download_coef' %}" style="color:#ffffff;"><i class="fas fa-download"></i> Coefficient Plot</a><br>
<img src="{% static 'images/coef_plot.png' %}", height = '600', width = '600'><br><br>


<div class="subheading mb-5">{{ labels_text }}</div>


<div class="subheading mb-5">{{ counts_text }}</div>
<p>Current Score Threshold: {{ score_thresh }}</p>
<p>Number of Empty Droplets: {{ counts_false }}</p>
<p>Number of Real Cells: {{ counts_true }}</p><br>

<!-- Dynamic Score Thresh Calculator -->
<form method="post" enctype='multipart/form-data'>{% csrf_token %}
<label for="score_thresh">Score Threshold </label>
<input type="number" step="0.1" value="0.5" min="0.0" max="1.0" placeholder='0.5', id='score_thresh', name='score_thresh'>
<button id="submit" type="submit" class="btn btn-secondary" name="submit" value="submit" onclick="this.classList.toggle('btn--loading')">
    <span class="btn__text">Recalculate</span></button>
</form><br>


<a class="btn btn-primary" href="{% url 'download_csv' %}" style="color:#ffffff;"><i class="fas fa-download"></i> Labels CSV</a>
<br><br>
<a class="btn btn-primary" href="{% url 'download_counts' %}" style="color:#ffffff;"><i class="fas fa-download"></i> Counts CSV</a>
<br><br>
<a class="btn btn-primary" href="{% url 'download_genes' %}" style="color:#ffffff;"><i class="fas fa-download"></i> Genes CSV</a>
<br><br>
<a class="btn btn-primary" href="{% url 'download_h5ad' %}" style="color:#ffffff;"><i class="fas fa-download"></i> AnnData Object</a>
<br><br>
{% if qc_text %}
<a class="btn btn-success" href="{% url 'download_all' %}" style="color:#ffffff;"><i class="fas fa-download"></i> Download All Files</a>
{% else %}
<a class="btn btn-success" href="{% url 'download_all_no_qc' %}" style="color:#ffffff;"><i class="fas fa-download"></i> Download All Files</a>
{% endif %}
{% endif %}
<br>


{% endblock %}